.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu-burger{
  display: none;
  flex-direction: column;
  cursor: pointer;
  justify-self: end;
  gap: 5px;
}

.menu-burger span{
  width: 25px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
}

.nav-menu{
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  .menu-burger{
    display: flex;
  }
  .nav-menu{
    display: none;
  }
  .menu-burger:checked ~ .nav-menu{
    display: flex;
  }
  .nav-menu{
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #282c53;
    padding: 10px;
    border-radius: 5px;
  }
  .nav-menu li{
    margin: 10px 0;
  }
  .nav-menu li a{
    color: #fff;
    text-decoration: none;
  }
  .nav-menu li a:hover{
    text-decoration: underline;
  }
  
}